/node_modules
/public/hot

/public/storage

/public/storage/*

/public/storage/profile-photos/*
/public/storage/manga-photos/*
/public/storage/anime-photos/*

!public/storage/profile-photos/BigChungus.png
!public/storage/profile-photos/knucles.png
!public/storage/profile-photos/shrek.png

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
