/node_modules
/public/hot
/public/storage/profile-photos/*
/public/storage/manga-photos/*
/public/storage/anime-photos/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

!/public/storage/profile-photos
!/public/storage/manga-photos
!/public/storage/anime-photos
!/public/storage/profile-photos/knucles.png
!/public/storage/manga-photos/1.png
!/public/storage/anime-photos/1.png