public/profile-photos/*
public/manga-photos/*
public/anime-photos/*
!.gitignore
!public/anime-photos
!public/manga-photos
!public/profile-photos
!public/profile-photos/BigChungus.png
!public/profile-photos/knucles.png
!public/profile-photos/shrek.png
